<section id="hero" class=" align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>{{message}}</h1>
    </div>
</section>
