<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Ralph Kayode</h1>
        <h2>Let's Create Something Amazing!</h2>
        <p style="padding-top: 20px;">Websites today need to do more than just look pretty. You need the right features and design trends to create smart, seamless, and powerful websites to fuel revenue growth.
        Website Design is what I do, I have helped my clients along this journey by creating websites that use the latest web technology. You need a web presence that has excellent and intuitive user experience, which not only looks great on all devices, but one that also helps converts your site visitors into business customers. <br>
        I have achieved this by attentively listening to your requirements and approaching each project as an individual challenge. An effective and well-designed website has the potential to transform your business overnight. We have a track record of delivering websites that not only look pretty but convert visitors into paying customers.
        </p>
        <a href="/about" class="btn-about">About Me</a>
    </div>
</section>

