<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Checkout My recent projects below.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
            </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">


            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/DreamHouse.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Dream House Kitchens </h4>
                <p>Web</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/DreamHouse.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="https://dreamhousekitchens.ca/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>



            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/CedarRidge.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Cedar Ridge Landscaping</h4>
                <p>Card</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/CedarRidge.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="https://cedarridgelandscaping.ca/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/ThreeSmallRooms.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Three Small Rooms </h4>
                <p>App</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/ThreeSmallRooms.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="https://threesmallrooms.com/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/WindsorLuxuryRentals.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Windsor Luxury Rentals </h4>
                <p>Web</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/WindsorLuxuryRentals.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="https://windsorluxuryrentals.com/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/BrokersList.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Broker List</h4>
                <p>App</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/BrokersList.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="https://brokerslist.ca/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/JenniferParson.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Jennifer Parson</h4>
                <p>App</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/JenniferParson.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="https://jenniferparsons.ca/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>
            


            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
                <img src="/images/portfolio/MichelleNewton.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>Michelle Newton</h4>
                <p>Card</p>
                <div class="portfolio-links">
                    <a href="/images/portfolio/MichelleNewton.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="https://michelenewton.ca/" target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>  

        </div>

        </div>
    </section><!-- End Portfolio Section -->

</main>